# -------------------------
# Environment variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# AWS credentials
# -------------------------
.aws/
credentials

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pkl
*.egg-info/
dist/
build/
.venv/
venv/
env/

# -------------------------
# ML / Embeddings / Layers
# -------------------------
fastembed-layer/*
!fastembed-layer/.gitkeep
*.zip
*.onnx
*.bin
*.pt

# -------------------------
# Model / data artifacts
# -------------------------
model.pkl
*.joblib
data/

# -------------------------
# Docker
# -------------------------
*.tar

# -------------------------
# Logs
# -------------------------
*.log
logs/

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/
*.swp